/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-us-box {
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the box horizontally */
  padding: 20px; /* Add padding for spacing */
  border: 2px solid rgb(228, 211, 223); /* Add border */
  border-radius: 10px; 
  background-color: rgb(228, 211, 223); 
  box-shadow: 0 0 10px c; /* Add box shadow for depth */
  flex :1;
}


/* Navigation bar styles */
nav {
  background-color: rgb(145, 76, 131); /* Change to your desired color */

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 ;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(145, 76, 131);
}

nav ul li {
  display: inline;

}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white; /* Change to your desired color */
}

li a:hover {
  background-color: #b53e89;
}

.active {
  background-color: rgb(119, 72, 110);
}

/* Content styles */
.content {
  background-color: rgb(228, 211, 223); /* Change to your desired color */
  padding: 50px;
  font-size: medium;
  text-align: center;
  font-size: larger;
}

.content h1 {
  color: rgb(145, 76, 131); /* Change to your desired color */
  margin-top: 100px;
  margin-bottom: 300px;
  font-size: 300px;
  text-align: center;
  text-decoration: line-through rgb(228, 211, 223) ;
}

.content p {
  color: #171616; /* Change to your desired color */
  margin-bottom: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Picture styles */
.picture {
  margin-top: 50px;
  text-align: center;
  margin-right: auto ;
}
.employees {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns */
  gap: 20px; /* Gap between items */
  margin-top: 50px;
}

.employee:nth-child(5) {
  grid-column: 1 / 3; /* Center the last bio */
  margin-bottom: 200px;
}
.employee {
  text-align: center;
}

.employee img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.employee .bio {
  margin-top: 10px;
}

.employee h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

.employee p {
  font-size: 14px;
}
